<div class="bg-tl" style="min-height : 100px; padding : 8px">
    <div class="row text-center student-search">
        <div class="pull-left">
            <form method="get" action="always/search/">
                <div class="input-group" style="width:250px; margin: 0px auto">
                    <input type="text" class="form-control" name="always_search" placeholder="Search" id="always-search" />
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-default" value="Find" />
                    </span>
                </div>
            </form>
        </div>
        <div>
            <a href="always/list/" class="btn btn-default">View All Student Profiles</a>
        </div>
    </div>
    <?php
    if (empty($profiles)) {
    echo '<p>No profiles found.</p></div>';
    return;
    }
    $column_count = 0;
    ?>
    <table class="table table-striped">
        <?php
        foreach ($profiles as $p):
        if ($column_count == 0) {
        echo '<tr>';
        }
        ?>
        <td><a style="color: black" href="always/<?=$p->getPname();?>"><?=$p->getFullName();?></a></td>
        <?php
        if ($column_count >= 2) {
        echo '</tr>';
        $column_count = 0;
        } else {
        $column_count++;
        }
        endforeach;
        ?>
    </table>
</div>