<p>The Student Memorial Program remembers and honors Appalachian students who have died while enrolled as a student.
    These students are memorialized on a plaque in the B.B. Dougherty Administration Building Lobby on the first floor.
    The students listed are those who have died since 1990 while attending Appalachian.
    Appalachian annually invites each of these students family to come to campus in the Fall
    for a special Student Memorial Program. This program honors and remembers each of these
    Mountaineers by reading their name, and words of remembrance from the family. These students will
    "Always be a Mountaineer.</p>

<form>
    <input type="text" placeholder="Search for student" name="always_search" id="always-search" />
</form>