<?php echo $menu ?>
<div class="pager-listing" id="student-list" data-rpp="10">
    <div class="row">
        <div class="span3 pull-right pager-search"></div>
        <div class="span2"><button class="btn btn-primary" id="new-student">Create student</button></div>
    </div>
    <table class="table table-striped">
        <thead class="pager-head">
            <tr>
                <th class="pager-header first_name"></th>
                <th class="pager-header last_name"></th>
                <th class="pager-header class_date"></th>
            </tr>
        </thead>
        <tbody class="pager-body">
            <tr class="pager-row pointer" data-row-id="">
                <td class="pager-column first_name"></td>
                <td class="pager-column last_name"></td>
                <td class="pager-column class_date"></td>
            </tr>
        </tbody>
    </table>
    <div id="page-list" style="text-align:center"></div>
</div>
<div id="student-options">
    <?=$form_start?>
    <?=$username_group?>
    <?=$first_name_group?>
    <?=$last_name_group?>
    <?=$class_date_group?>
    <?=$submit?>
    <?=$form_end?>
</div>
