<p>Dear <?=$full_name?>,

<p>Thank you for sharing your memories at <a href="<?=$site_address?>">Appalachian State's Always a Mountaineer web site.</a></p>

<p>After you go to the site, click the "Sign in" link and enter the information below:</p>
<ul>
    <li>User name: <?=$username?></li>
    <li>Password: <?=$password?></li>
</ul>

<p>Once you are logged in, click your name and the "Account" link to change your password to something easier to remember. Please take the time
    to create a password that cannot be easily guessed. We suggest a three word combination of dissimilar words (e.g. hamburger unicorn dishwasher).
    Passwords of this length are difficult to guess but usually easy for you to remember.</p>

<p>If you have any problems, please contact us either <a href="mailto:<?=$contact_email?>">by email</a> or by calling us at <?=$phone_number?>.</p>
