<div class="pager-listing bg-tl" id="parent-list" data-rpp="10">
    <div class="row">
        <div class="col-lg-3">
            <button class="btn btn-primary" style="margin:10px;" id="new-parent">Create parent</button>
        </div>
        <div class="col-lg-4 col-lg-push-5 pager-search" style=""></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-striped">
            <thead class="pager-head">
                <tr>
                    <th class="pager-header first_name"></th>
                    <th class="pager-header last_name"></th>
                    <th class="pager-header class_date"></th>
                </tr>
            </thead>
            <tbody class="pager-body">
                <tr class="pager-row pointer" data-row-id="">
                    <td class="pager-column first_name"></td>
                    <td class="pager-column last_name"></td>
                    <td class="pager-column class_date"></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div id="page-list" style="text-align:center"></div>
</div>

<div id="parent-options">
    <?php echo $form_start ?>
    <?php echo $username_group ?>
    <fieldset>
        <legend>Parent information</legend>
    <?php echo $first_name_group ?>
    <?php echo $last_name_group ?>
    </fieldset>
    <fieldset>
        <legend>Student information</legend>
    <?php echo $student_fname_group ?>
    <?php echo $student_lname_group ?>
    </fieldset>
    <?php echo $class_date_group ?>
    <?php echo $submit?>
    <?php echo $form_end?>
</div>
