<div class="pager-listing" id="profile-list" data-rpp="10">
<?=$menu?>
    <div class="row">
        <div class="col-lg-3">
            <button class="btn btn-primary" style="margin:10px;" id="new-profile">Create profile</button>
        </div>
        <div class="col-lg-4 col-lg-push-5 pager-search" style=""></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-striped">
            <thead class="pager-head">
                <tr>
                    <th class="pager-header first_name"></th>
                    <th class="pager-header last_name"></th>
                    <th class="pager-header" style="width:20%"></th>
                </tr>
            </thead>
            <tbody class="pager-body">
                <tr class="pager-row" data-row-id="">
                    <td class="pager-column first_name"></td>
                    <td class="pager-column last_name"></td>
                    <td class="pager-column">
                        <button class="btn btn-default btn-sm edit-profile">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div id="page-list" style="text-align:center"></div>
</div>