.difference {
    padding : 1em;
    background-color : white;
}

del, ins {
    border-radius: 3px;
    text-decoration : none;
}

del.diffmod,
ins.diffmod,
.altered {
    background-color : yellow;
    border-color : yellow;
}

ins.diffmod {
    padding-left : .5em;
}

del.diffmod {
    text-decoration : line-through;
    padding-right : .5em;
}

ins.diffins {

}

del.diffdel {
    background-color : #FF9797;
    border : 1px solid #FF9797;
    color : black;
    margin : 0px 4px;
}

ins.diffins {
    background-color : #5CB85C;
    border : 1px solid #5CB85C;
}

div.compare {
    padding : 1em;
    border : 1px solid black;
}

.no-changes {
    color : #6d6d6d;
}

.approve-buttons {
    border:1px solid black;
    padding:1em;
    text-align:center;
    width:130px;
    height : 100px;
    background-color : white;
    position : fixed;
    z-index:100;
    right : 10px;
    top : 50px;
}

.approve-buttons .btn {
    width : 100px;
}